/* .main-table-container {
    display: flex;
    width: 930px;
    margin: 0 auto;
} */
h1 {
    font-size: 4rem;
}
.body-descrip {
    
}
.cards-res {
    display: flex;
    flex-wrap: wrap;
    width: 920px;
    margin: 0 auto;
    padding: 0;
}
.card-presentation {
    min-width: 860px;
}
.card-resumen {
    margin: auto auto;
}
/* .product-cards-container {
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}
.plans-container--slider {
    justify-content: center;

} */